.wrapper {
  background-color: #222222;
  padding: 2px 160px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 768px) {
    padding: 8px 40px;
  }

  @media screen and (max-width: 360px) {
    padding: 4px 24px;
  }

  .infoText {
    font-size: 12px;
  }
}
