.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 340px;
  padding: 68px 0px;
  .header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
  }

  .itemlayer {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
  }
}
