.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 340px;
  padding: 68px 0px;

  @media screen and (max-width: 768px) {
    padding: 40px 0px;
  }

  @media screen and (max-width: 425px) {
    padding: 20px 0px;
  }
  .header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100vw;

    @media screen and (max-width: 425px) {
      left: 0;
    }
  }

  .itemlayer {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    margin-bottom: 60px;

    @media screen and (max-width: 768px) {
      padding: 0px 32px;
    }

    @media screen and (max-width: 425px) {
      padding: 0px 12px;
    }
  }
}
