.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0px;

  .title {
    font-size: 36px;
    margin-bottom: 60px;
    color: #dfdede;
  }

  .contentArea {
    display: flex;

    .content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 50%;
    }
  }
}
